@{
    ViewBag.Title = "Input Data BPKB";
}

<h2>Input Data BPKB</h2>

<form method="post" action="/TrBpkb/Save">
    <div class="form-group">
        <label for="AgreementNumber">Agreement Number:</label>
        <input type="text" class="form-control" id="AgreementNumber" name="AgreementNumber" required />
    </div>
    <div class="form-group">
        <label for="BranchId">Branch ID:</label>
        <input type="text" class="form-control" id="BranchId" name="BranchId" required />
    </div>
    <div class="form-group">
        <label for="BpkbNo">BPKB No:</label>
        <input type="text" class="form-control" id="BpkbNo" name="BpkbNo" required />
    </div>
    <div class="form-group">
        <label for="BpkbDate">BPKB Date:</label>
        <input type="date" class="form-control" id="BpkbDate" name="BpkbDate" required />
    </div>
    <div class="form-group">
        <label for="FakturNo">Faktur No:</label>
        <input type="text" class="form-control" id="FakturNo" name="FakturNo" required />
    </div>
    <div class="form-group">
        <label for="FakturDate">Faktur Date:</label>
        <input type="date" class="form-control" id="FakturDate" name="FakturDate" required />
    </div>
    <div class="form-group">
        <label for="PoliceNo">Police No:</label>
        <input type="text" class="form-control" id="PoliceNo" name="PoliceNo" required />
    </div>
    <div class="form-group">
        <label for="LocationId">Location:</label>
        <select class="form-control" id="LocationId" name="LocationId">
            @foreach (var location in ViewBag.Locations)
            {
                    <option value="@location.LocationId">@location.LocationName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="BpkbDateIn">BPKB Date In:</label>
        <input type="date" class="form-control" id="BpkbDateIn" name="BpkbDateIn" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/TrBpkb/Cancel" class="btn btn-secondary">Cancel</a>
</form>
